{% extends "base.html" %} {% block title%} Profile {% endblock %} 
{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 bg-light p-3">Do you want to delete <b>   {{ profile.first_name }} {{profile.last_name}}</b>?
  <br>
  <form action="" method="POST">
      {% csrf_token %}
      <!-- <input type="hidden" name="id" id="id" value="{{ profile.id }}"> -->
      <div class="form-group mt-1">
        <input type="submit" name="submit" class="btn btn-primary" id="submit" value="Delete">

        <a href="{% url 'profile:profile' %}" class="btn btn-outline-danger">Don't delete</a>
    </div>
  </form>
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}
